.modalBasket {
  @include fluid(width, 350px, 442px);
  @include fluid(top, 96px, 104px);
  height: calc(100vh - 104px);
  background-color: #2b2e36;
  position: fixed;
  right: -100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition:
    z-index 0.38s ease-in-out,
    opacity 0.38s ease-in-out,
    right 0.38s ease-in-out,
    visibility 0.38s ease-in-out;
  &--visible {
    z-index: 50;
    opacity: 1;
    visibility: visible;
    position: absolute;
    right: 0;
  }
  &--empty {
    height: 350px;
  }
  &__container {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__close {
    display: none;
  }
}
.order {
  @include fluid(margin-bottom, 31px, 60px);
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  &::-webkit-scrollbar {
    display: none;
  }
  &--margin {
    margin-bottom: 30px;
  }
  &--history {
    margin-bottom: 30px;
    .order__item {
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .order__itemSubtitle {
      @include fontProReg(#ec4015);
      font-size: 12px;
    }
    .order__plusMinus {
      margin-top: 0;
    }
    .order__digital {
      color: #8b8e9e;
    }
  }
  &__item {
    @include fluid(padding-bottom, 9px, 16px);
    @include fluid(gap, 9px, 19px);
    &:not(&:last-child) {
      @include fluid(margin-bottom, 9px, 16px);
    }
    display: flex;
    border-bottom: 1px solid #40424a;
    img {
      width: 72px;
      height: 72px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 5px;
    }
    &--dsntExists {
      img {
        opacity: 0.35;
      }
      .order__itemTitle {
        color: #8b8e9e;
        margin-bottom: 0;
      }
    }
  }
  &__itemText {
    @include fluid(margin-top, 5px, 8px);
  }
  &__itemTitle {
    @include fontProSemiBold(#ffffff);
    @include fluid(margin-bottom, 9px, 16px);
    @include fluid(font-size, 14px, 16px);
    word-break: break-all;
  }
  &__itemPrice {
    @include fontProReg(#8b8e9e);
    @include fluid(font-size, 13px, 14px);
  }
  &__plusMinus {
    margin-top: auto;
    margin-left: auto;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__plus,
  &__minus {
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontProSemiBold(#8b8e9e);
    font-size: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #40424a;
    border: #40424a;
    transition: all 0.38s ease-in-out;
    &:hover {
      background-color: #ec4015;
      border: #ec4015;
      color: #fff;
    }
  }
  &__digital {
    @include fontProReg(#ffffff);
    @include fluid(font-size, 13px, 14px);
  }
}
.buttonOrder {
  flex-shrink: 0;
    // flex-grow: 2;
  &--cart {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 10px;
    &:has(img) {
      .buttonOrder {
        &__checkout {
          background-color: #62677b;
          pointer-events: none;
        }
      }
    }
  }
  &--disable {
    pointer-events: none;
    .buttonOrder {
      &__checkout {
        background-color: #62677b;
        p {
          color: #464b5d;
        }
      }
      &__price {
        color: #464b5d;
      }
    }
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__checkout {
    @include fontProReg(#ffffff);
    @include fluid(font-size, 14px, 16px);
    @include fluid(padding-bottom, 14px, 16px);
    @include fluid(padding-top, 14px, 16px);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ec4015;
    border: #ec4015;
    transition: all 0.38s ease-in-out;
    &--dark {
      @include fontProReg(#8b8e9e);
      background-color: #40424a;
      &:hover {
        background-color: #40424a;
        color: #fff;
      }
    }
    &--unactive {
      background-color: #62677b;
      color: #464b5d;
      pointer-events: none;
      .buttonOrder__price {
        color: #464b5d;
      }
    }
    &:hover {
      background-color: #fff;
      color: #ec4015;
    }
  }
  &__price {
    @include fluid(left, 13px, 24px);
    position: absolute;
  }
}

.modalFood {
  //@include fluid(top, 215px, 300px);
  @include fluid(right, 50px, 90px);
  width: 70%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #2b2e36;
  position: fixed;
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition:
    z-index 0.38s ease-in-out,
    opacity 0.38s ease-in-out,
    visibility 0.38s ease-in-out;
  &--visible {
    z-index: 50;
    opacity: 1;
    visibility: visible;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    img {
      @include fluid(height, 410px, 600px);
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 10px 0 0 10px;
    }
  }
  &__info {
    @include fluid(padding, 21px, 40px);
    &-block {
      @include fluid(padding-bottom, 57px, 110px);
      @include fluid(margin-top, 23px, 44px);
      border-bottom: 1px solid #8b8e9e;
    }
    &-button {
      @include fluid(font-size, 13px, 15px);
      width: 44px;
      height: 44px;
      float: right;
      background-color: #40424a;
      border: #40424a;
      color: #8b8e9e;
      border-radius: 10px;
      cursor: pointer;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
    &-title {
      @include fontProSemiBold(#ffffff);
      @include fluid(font-size, 26px, 32px);
      @include fluid(margin-bottom, 11px, 20px);
    }
    &-textGr {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 16px);
      @include fluid(margin-bottom, 16px, 30px);
    }
    &-text {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 16px, 18px);
      @include fluid(margin-bottom, 31px, 60px);
    }
    &-box {
      @include fluid(margin-top, 21px, 40px);
      display: flex;
      align-items: center;
    }
    &-boxPrice {
      @include fontProSemiBold(#ffffff);
      @include fluid(font-size, 26px, 32px);
    }
    &-boxButton {
      display: flex;
      gap: 6px;
      margin-left: auto;
    }
    &-btnLike {
      width: 44px;
      height: 44px;
      background-color: #40424a;
      border: #40424a;
      color: #8b8e9e;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition:
        color 0.38s ease-in-out,
        background-color 0.38s ease-in-out;
      &:hover {
        color: #fff;
      }
      &--active {
        color: #fff;
        background-color: #ec4015;
      }
    }
    &-btnBasket {
      @include fluid(padding-left, 17px, 32px);
      @include fluid(padding-right, 17px, 32px);
      @include fluid(padding-bottom, 8px, 12px);
      @include fluid(padding-top, 8px, 12px);
      @include fontProReg(#ffffff);
      @include fluid(font-size, 14px, 16px);
      transition: all 0.38s ease-in-out;
      align-items: center;
      display: flex;
      gap: 10px;
      cursor: pointer;
      background-color: #ec4015;
      border: #ec4015;
      border-radius: 10px;
      &:hover {
        background-color: #ffffff;
        color: #ec4015;
      }
    }
  }
}
.table {
  @include fluid(gap, 17px, 32px);
  display: flex;
  &__item {
    &-top {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 12px, 13px);
      margin-bottom: 10px;
    }
    &-bottom {
      @include fontProReg(#ffffff);
      @include fluid(font-size, 14px, 16px);
      white-space: nowrap;
    }
  }
}

.modal {
  @include fluid(width, 350px, 442px);
  position: fixed;
  top: 50%;
  right: 45%;
  padding: 30px;
  border-radius: 10px;
  background: #2b2e36;
  text-align: center;
  transform: translate(50%, -50%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition:
    z-index 0.38s ease-in-out,
    opacity 0.38s ease-in-out,
    visibility 0.38s ease-in-out;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &--address {
      text-align: start;
      .modalInput {
        text-align: start;
        @include fluid(font-size, 14px, 16px);
        &::-webkit-input-placeholder {
          @include fluid(font-size, 14px, 16px);
        }
        &::-moz-placeholder {
          @include fluid(font-size, 14px, 16px);
        }
        &:-ms-input-placeholder {
          @include fluid(font-size, 14px, 16px);
        }
        &::-ms-input-placeholder {
          @include fluid(font-size, 14px, 16px);
        }
        &::placeholder {
          @include fluid(font-size, 14px, 16px);
        }
      }
    }
    &-item {
      &--flex {
        @include fluid(gap, 20px, 38px);
        display: flex;
        margin-bottom: 30px;
      }
    }
  }
  &--visible {
    z-index: 50;
    opacity: 1;
    visibility: visible;
  }
  &--address {
    @include fluid(top, 215px, 300px);
    transform: translate(65%, 0);
    .modalInput {
      @include fluid(font-size, 14px, 16px);
      text-align: start;
      &::-webkit-input-placeholder {
        @include fluid(font-size, 14px, 16px);
        color: #393b41;
      }
      &::-moz-placeholder {
        @include fluid(font-size, 14px, 16px);
        color: #393b41;
      }
      &:-ms-input-placeholder {
        @include fluid(font-size, 14px, 16px);
        color: #393b41;
      }
      &::-ms-input-placeholder {
        @include fluid(font-size, 14px, 16px);
        color: #393b41;
      }
      &::placeholder {
        @include fluid(font-size, 14px, 16px);
        color: #393b41;
      }
    }
    .modal {
      &__title {
        text-align: start;
      }
    }
  }
  &__title {
    @include fontProBold(#8b8e9e);
    @include fluid(font-size, 20px, 24px);
    @include fluid(margin-bottom, 10px, 20px);
    margin-top: 0;
  }
  &__subtitle {
    @include fontProReg(#fff);
    @include fluid(font-size, 14px, 16px);
    @include fluid(margin-bottom, 20px, 30px);
    line-height: 135%;
    &--dark {
      color: #8b8e9e;
    }
    &--after {
      @include fontProSemiBold(#464b5e);
      @include fluid(margin-top, 10px, 16px);
      margin-bottom: 0;
    }
  }
  &__image {
    @include fluid(width, 150px, 173px);
    @include fluid(height, 70px, 80px);
    @include fluid(margin-bottom, 20px, 30px);
    @include fluid(margin-top, 20px, 30px);
  }
  &__buttons {
    display: flex;
    gap: 10px;
    &--vertical {
      flex-direction: column;
    }
    &-infoBtn {
      @include fontProReg(#fff);
      @include fluid(font-size, 13px, 14px);
      @include fluid(padding-bottom, 14px, 16px);
      @include fluid(padding-top, 14px, 16px);
      @include fluid(padding-left, 20px, 24px);
      @include fluid(padding-right, 20px, 24px);
      text-align: center;
      background-color: #ec4015;
      border-radius: 10px;
      border: none;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      transition: all 0.38s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #ec4015;
      }
      &--dark {
        background-color: #40424a;
        color: #8b8e9e;
        transition: color 0.38s ease-in-out;
        &:hover {
          color: #fff;
          background-color: #40424a;
        }
      }
    }
  }
  input[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  input {
    @include fontProReg(#fff);
    @include fluid(font-size, 18px, 24px);
    padding-bottom: 10px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #3a3b41;
    background-color: rgba(0, 0, 0, 0);
    transition:
      color 0.38s ease-in-out,
      border 0.38s ease-in-out;
    &::-webkit-input-placeholder {
      @include fontProReg(#3a3b41);
      @include fluid(font-size, 18px, 24px);
      -webkit-transition: color 0.38s ease-in-out;
      transition: color 0.38s ease-in-out;
      color: #fff;
    }
    &::-moz-placeholder {
      @include fontProReg(#3a3b41);
      @include fluid(font-size, 18px, 24px);
      -moz-transition: color 0.38s ease-in-out;
      transition: color 0.38s ease-in-out;
      color: #fff;
    }
    &:-ms-input-placeholder {
      @include fontProReg(#3a3b41);
      @include fluid(font-size, 18px, 24px);
      -ms-transition: color 0.38s ease-in-out;
      transition: color 0.38s ease-in-out;
      color: #fff;
    }
    &::-ms-input-placeholder {
      @include fontProReg(#3a3b41);
      @include fluid(font-size, 18px, 24px);
      -ms-transition: color 0.38s ease-in-out;
      transition: color 0.38s ease-in-out;
      color: #fff;
    }
    &::placeholder {
      @include fontProReg(#3a3b41);
      @include fluid(font-size, 18px, 24px);
      transition: color 0.38s ease-in-out;
      color: #fff;
    }

    &:focus,
    &:hover {
      color: #fff;
      border-color: #fff;
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &::-moz-placeholder {
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &::-ms-input-placeholder {
        color: #fff;
      }
      &::placeholder {
        color: #fff;
      }
    }
  }
}
