.miniTitle {
  @include fontProBold(#8b8e9e);
  @include fluid(font-size, 28px, 32px);
  @include fluid(margin-bottom, 20px, 30px);
  @include fluid(margin-top, 20px, 31px);
  &--profile {
    @include fluid(margin-top, 70px, 91px);
    @include fluid(margin-bottom, 30px, 55px);
  }
}
.paragraph {
  @include fontProReg(#8b8e9e);
  font-size: 14px;
  margin-bottom: 16px;
  text-align: left;
  &--middle {
    @include fluid(margin-bottom, 20px, 30px);
    font-size: 16px;
  }
  &--textStart {
    text-align: start;
  }
  &--big{
    @include fluid(font-size, 16px, 20px)
  }
}

.firstItem {
  @include fluid(padding-right, 0px, 60px);
  margin: 60px 0;
  border-right: 1px solid #40424a;
}
.secondItem {
  @include fluid(padding-right, 0px, 60px);
  position: relative;
  overflow-x: hidden;
  flex-shrink: 0.5;
  //width: 100%;
  width: 54%;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.containerPage {
  @include fluid(gap, 30px, 60px);
  display: flex;
  position: relative;
  height: 100%;
  &--gap {
    @include fluid(gap, 30px, 60px);
  }
  &__item {
    position: relative;
    &-ourOrder {
      @include fluid(margin-bottom, 20px, 50px);
      margin-top: 91px;
    }
    &-priceOrder {
      @include fluid(margin-bottom, 30px, 60px);
      @include fluid(font-size, 28px, 32px);
      @include fontProBold(#fff);
      p {
        @include fluid(font-size, 13px, 14px);
        @include fontProBold(#8b8e9e);
        margin-bottom: 10px;
      }
    }
    &--order {
      &:first-child {
        @include fluid(padding-right, 0px, 114px);
      }
    }
  }
}
body {
  .selectCart {
    @include fluid(margin-bottom, 15px, 25px);
    &:hover {
      .select__placeholder {
        color: #fff !important;
      }
      .select__control {
        transition: 0.38s ease-in-out !important;
        border-bottom: 1px solid #fff !important;
      }
    }
    &__value-container {
      padding: 0 !important;
    }
    &__input-container {
      padding: 0;
      margin: 0;
    }
    &__control {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 1px solid #3a3b41 !important;
      border-radius: 0px !important;
      min-height: auto !important;
      @include fluid(padding-bottom, 0px, 0px);
      margin-bottom: 0;
    }
    &__indicators {
      padding: 0 !important;
    }
    &__input-conatiner {
      margin: 0 !important;
      padding: 0 !important;
    }
    &__placeholder {
      margin: 0 !important;
      font-family: 'SF Pro Display';
      color: #3a3b41 !important;
      font-weight: 400;
      text-decoration: none;
      font-size: 16px;
      margin-bottom: 16px;
      background-color: rgba(0, 0, 0, 0);
      transition:
        color 0.38s ease-in-out,
        border 0.38s ease-in-out !important;
    }
    &__single-value {
      font-family: 'SF Pro Display';
      color: #fff !important;
      font-size: 16px;
      transition: 0.38s ease-in-out !important;
    }
    &__indicators {
      display: none !important;
    }
    &__control {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 1px solid #3a3b41 !important;
      border-radius: 0px !important;
      min-height: auto !important;
      box-shadow: none !important;
      padding-bottom: 0 !important;
    }
    &__menu {
      margin: 0 !important;
      background-color: transparent !important;
      box-shadow: none !important;
      overflow: hidden !important;
    }
    &__menu-list {
      background: #2b2e36 !important;
      padding-bottom: 15px !important;
      padding-top: 25px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      &::-webkit-scrollbar { width: 0 !important }
    }
    &__option {
      background: transparent !important;
      @include fluid(font-size, 14px, 16px);
      font-family: 'SF Pro Display';
      color: #fff !important;
      padding: 0 !important;
      cursor: pointer !important;
      transition: 0.38s ease-in-out !important;
      &:not(:last-child) {
        margin-bottom: 20px !important;
      }
      &:hover {
        color: #ec4015 !important;
      }
      span{
        color: #8B8E9E;
        @include fluid(margin-left, 15px, 20px);
      }
    }
    &-tr4s17-option {
      background: transparent !important;
      @include fluid(font-size, 14px, 16px);
      font-family: 'SF Pro Display';
      color: #fff !important;
      padding: 0 !important;
      &:not(:last-child) {
        margin-bottom: 20px !important;
      }
    }
  }
}
.orderingForm {
  @include fluid(gap, 30px, 60px);
  position: relative;
  display: flex;
  &__item {
    @include fluid(width, 340px, 382px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--full {
      width: 100%;
      .paragraph {
        margin-top: 30px;
      }
    }
    &--bottom {
      width: 100%;
      input {
        max-width: unset;
      }
    }
    &--fs {
      justify-content: flex-start;
    }
  }
  input[type='radio'] {
    margin-bottom: 16px;
  }
  .select {
    margin-top: 0px;
    margin-bottom: 0;
  }
  &__quantity {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    &-number {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 14px, 16px);
      transition: color 0.38s ease-in-out;
      cursor: pointer;
      &--active {
        color: #ec4015;
      }
      &:not(.orderingForm__quantity-number--active) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &__delivery {
    &--mb {
      @include fluid(margin-bottom, 20px, 30px);
    }
    &-radio {
      display: flex;
      flex-direction: column;
    }
    &-label {
      @include fontProReg(#fff);
      @include fluid(font-size, 14px, 16px);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        color: #8b8e9e;
        font-size: 10px;
      }
    }
    &-radioBtn {
      display: flex;
      input[type='radio'] {
        cursor: pointer;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: rgba(57, 61, 70, 1);
        border: rgba(43, 46, 54, 1) 6px solid;
        transition: 0.2s all linear;
        margin-right: 16px;
        &:checked {
          border: #ec4015 6px solid;
          background-color: #fff;
        }
      }
      label {
        font-family: 'SF Pro Display';
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        @include fluid(font-size, 16px, 18px);
        span {
          color: #8b8e9e;
          font-size: 10px;
        }
      }
    }
    &-radioContainer {
      display: flex;
      justify-content: space-between;
      span {
        @include fontProReg(#8b8e9e);
        font-size: 13px;
      }
    }
  }
  &__points {
    display: flex;
    justify-content: space-between;
    span {
      color: #ec4015;
    }
  }
}
.gift {
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards {
    @include fluid(gap, 10px, 16px);
    display: flex;
    flex-wrap: wrap;
    &-img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 72px;
      height: 72px;
      border-radius: 5px;
    }
    &-item {
      display: flex;
      background-color: #2b2e36;
      border-radius: 10px;
      padding: 20px;
      gap: 20px;
      width: 32%;
      &--active {
        .gift__cards-btn {
          background-color: #ec4015;
        }
      }
      &--unactive {
        .gift__cards-text {
          color: #8b8e9e;
        }
        .gift__cards-btn {
          cursor: unset;
          background-color: #313540;
          color: #464b5d;
        }
      }
    }
    &-textBtn {
      display: flex;
      flex-direction: column;
      gap: 21px;
    }
    &-text {
      @include fontProSemiBold(#fff);
      @include fluid(font-size, 14px, 16px);
    }
    &-btn {
      @include fontProReg(#fff);
      cursor: pointer;
      font-size: 13px;
      background-color: #3c404e;
      display: flex;
      height: 32px;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
    }
  }
}
.dontForget {
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      // width: 199px;
      cursor: pointer;
    }
    &-img {
      -o-object-fit: cover;
         object-fit: cover;
      height: 124px;
      width: auto;
      border-radius: 10px 10px 0 0;
    }
    &-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 15px;
      border-radius: 0 0 10px 10px;
      background-color: #2b2e36;
    }
    &-infoTitle {
      @include fontProSemiBold(#fff);
      @include fluid(font-size, 14px, 16px);
      margin-bottom: 10px;
    }
    &-infoSubtitle {
      @include fontProReg(#8b8e9e);
      font-size: 13px;
      margin-bottom: 20px;
    }
    &-infoBtn {
      @include fontProReg(#fff);
      @include fluid(font-size, 13px, 14px);
      width: 100%;
      margin-top: auto;
      text-align: center;
      padding: 12px 24px;
      background-color: #ec4015;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      cursor: pointer;
      transition: all 0.38s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #ec4015;
        .dontForget__cards-icon {
          color: #ec4015;
        }
      }
    }
    &-icon {
      transition: all 0.38s ease-in-out;
    }
  }
}
.formContainer {
  @include fluid(font-size, 20px, 30px);
  @include fluid(gap, 25px, 30px);
  display: flex;
  flex-direction: column;
}
